*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
}

/* variaveis para as cores*/
:root{

    --color-bgdark: #141414;
    --color-menu-hover: #B9FFAD;
    --corpo-text: #A3A3A3;
    --sub-title: #292929;
    --title: #000000;
    
}

.header{
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bgdark);
    
}

.header_menu{
    display: flex;
    gap: 20px;
}

.header_menu li{
    list-style: none;
}

.header_menu a{
    list-style: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
}

.header_menu a:hover{
    color: var(--color-menu-hover);
    transition: .2s;
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 40px 60px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.subtitulo_primario{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--sub-title);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    padding-bottom: 14px;
}

.titulo_primario{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--title);
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    line-height: 1;
}

.secao_primaria{
    background-color: var(--color-bgdark);
    padding: 40px 60px;
    
       
}

.subtitulo{
    font-size: 7rem;
    text-transform: uppercase;
    color: var(--title);
    font-family: 'Fira Sans', sans-serif;
    max-width: 4ch;
    line-height: 1;
    margin-top: 120px;
    margin-bottom: 120px;
    
   
}

.texto_sobre{
    font-size: 1.2rem;
    color: var(--sub-title);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    max-width: 32ch;
    

}

.sobremim_group h3:nth-child(1){
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
}
.sobremim_group h3:nth-child(2){
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.secao_terceira{
    background-color: #2E931D;
}