.footer{
    display: flex;
    padding: 60px 60px;
    justify-content: space-around;
    align-items: center;
}

.footer_description h3{
    position: relative;
    display: inline-block;
}


.footer_description h3::before{
    content: '';
    background: url(../../assets/icon/detalhes.svg);
    width: 12px;
    height: 6px;
    position: absolute;
    top: 7px;
    left: -24px;
}
.footer_description a{
    text-decoration: none;
    color: var(--color-c5);
}

.footer_description a:hover{
    color: var(--color-c0);
}


.contato_conteudo,
.informacoes_conteudo{
    margin-top: 12px;
}

.contato_conteudo li,
.informacoes_conteudo li{
    margin-bottom: 10px;
    position: relative;
}

.contato_conteudo li:nth-child(1)::before{
    content: '';
    position: absolute;
    background: url(../../assets/icon/email.svg);
    width: 16px;
    height: 16px;
    left: -24px;
}
.contato_conteudo li:nth-child(2)::before{
    content: '';
    position: absolute;
    background: url(../../assets/icon/github.svg);
    width: 16px;
    height: 16px;
    left: -24px;
}
.contato_conteudo li:nth-child(3)::before{
    content: '';
    position: absolute;
    background: url(../../assets/icon/linkedin.svg);
    width: 16px;
    height: 16px;
    left: -24px;
}

.informacoes_conteudo li{
    text-align: right;
}

.informacoes_conteudo li a {
    position: relative;
  }
  
  .informacoes_conteudo li a::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 0px;
      width: 0px;
      height: 1px;
      background: var(--color-c0);
      transition: .3s;
  }
  
  .informacoes_conteudo li a:hover::after {
    width: 100%;
  }